/*全体のスタイル（CSSリセット用）*/
* {
  /* padding,borderが要素の中に入る */
  box-sizing: border-box;
}
ul {
  /* リストの・を消す */
  list-style: none;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  color: inherit;
  /* 文字の下の線を消す */
  text-decoration: none;
}

body {
  color: #555;
  margin: 0;
  line-height: 1.6;
}

/* header */
header {
  width: 100%;
  display: flex;
  /* 子要素を親要素の両端に配置 */
  justify-content: space-between;
  padding: 0 20px;
  color: #fff;
  /* 背景色をblackにして綺麗に表示されていたらblackをinheritに変更 */
  background-color: inherit;
  /* first-vに合わせる */
  position: absolute;
  /* headerが一番上に来るようにする */
  z-index: 10;
}

.header-logo {
  padding: 20px 0;
  font-weight: bold;
  font-size: 18px;
}

/* first-viewのスタイル */
#first-v {
  height: 770px;
  /* 背景画像を挿入 */
  background-image: url("../img/bg1.png");
  /* 画面全体に画像が表示されるように */
  background-size: cover;
}

.header-nav ul {
  display: flex;
  padding: 22px 0;
}

.first-v-title {
  margin-bottom: 150px;
  /* 文字を太文字に */
  font-weight: bold;
  font-size: 27px;
}

/* first-viewのスタイル 下が反映されないのはなぜ？*/
#first-v {
  height: 770px;
  /* 背景画像を挿入 */
  background-image: url("../img/bg1.png");
  /* 画面全体に画像が表示されるように */
  background-size: cover;
}

.first-v-wrap {
  padding: 285px 0 255px;
  /* ブロック要素を中央揃え */
  margin: 0 auto;
  width: 250px;
  text-align: center;
}

/*共通パート*/
.first-v-btn {
  width: 200px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  /* 枠線を消す */
  border: none;
  /* 要素の枠を丸くする */
  border-radius: 5px;
  /* -90degで左から右にグラデーションする */
  background: linear-gradient(-90deg, #283c86, #06beb6);
  /* 要素に影をつける */
  box-shadow: 0px 5px #070707;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
}

.first-v-title::after {
  display: block;
  content: "";
  width: 100px;
  margin: 20px auto 0;
  /* 線を作る */
  border-top: 1px solid #fff;
}

/* first-viewのスタイル */
.fa-door-open {
  padding-right: 4px;
}

.first-v-wrap {
  padding: 285px 0 255px;
  /* ブロック要素を中央揃え */
  margin: 0 auto;
  width: 250px;
  text-align: center;
}

.header-nav ul {
  /* 子要素を横向きに配置 */
  display: flex;
  padding: 22px 0;
}

.header-nav li {
  /* li要素同士の余白 */
  margin-left: 55px;
  font-size: 15px;
}

footer {
  /* 背景色変更 */
  background-color: #191919;
  height: 50px;
}

.company-info {
  /* 文字を横方向に中央揃え */
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
}
/* entryのスタイル */
#entry {
  background-color: #fff;
}

.entry-wrap {
  padding: 175px 0;
  width: 400px;
  /* 横方向に中央揃えに */
  margin: 0 auto;
  /* 文字を中央揃えに */
  text-align: center;
}

.entry-title {
  /* 横方向に中央揃え */
  margin-bottom: 55px;
  font-weight: bold;
  font-size: 18px;
  color: #191919;
}

.entry-btn {
  /* entryセクションのボタン幅に変更 */
  width: 320px;
}

.inner {
  /* about-itemの横幅と間隔の合計 */
  width: 1100px;
  /* titleまでの幅 */
  padding: 90px 0;
  /* innderが画面の中央に */
  margin: 0 auto;
}

/*共通パート*/
.title {
  font-size: 18px;
  /* 文字をイタリック体にイタリック体 */
  font-style: italic;
}

.title-b {
  /* Aboutの部分だけを太文字に */
  font-weight: bold;
}

.title::before {
  /* 擬似要素には必ずつける */
  display: inline-block;
  width: 30px;
  margin-right: 20px;
  border-top: 1px solid #191919;
}

.title::after {
  /* 擬似要素には必ずつける */
  content: "";
  display: inline-block;
  width: 30px;
  margin-left: 20px;
  border-top: 1px solid #191919;
  content: "";
}

/*共通パート*/
.title {
  /* 擬似要素とtitleを横並びに */
  display: flex;
  padding-bottom: 60px;
  /* 要素全体を横方向に中央揃え */
  justify-content: center;
  /* 線を文字の縦方向に中央揃え */
  align-items: center;
  font-style: italic;
  font-size: 18px;
  text-align: center;
}

/* aboutのスタイル */
#about {
  color: #191919;
  background-color: #f8f8f8;
}

.about-wrap {
  /* 子要素を横並びに */
  display: flex;
  /* 横幅が親要素を超える時に子要素を次の段に移す */
  flex-wrap: wrap;
  margin-top: 60px;
}

.about-item {
  width: 300px;
  height: 315px;
  padding: 35px 50px 50px;
  text-align: center;
  background-color: #fff;
}

.about-item:nth-child(n + 4):nth-child(-n + 6) {
  /* 4~6個目のabout-itemにmarginをつける */
  margin-top: 47px;
}

.about-title__title {
  font-size: 22px;
}

.about-item__img img {
  width: 122px;
  height: 122px;
  margin: 20px 0 25px;
}

.about-item__desc {
  font-size: 13px;
}

/*newsのスタイル*/
#news {
  width: 100%;
  background-image: url("../img/bg2.png");
  background-size: cover;
}

.white-title {
  width: 150px;
  color: #fff;
}

.white-title::before {
  content: "";
  width: 30px;
  margin-right: 20px;
  border-top: 1px solid #fff;
}

.white-title::after {
  content: "";
  width: 30px;
  margin-left: 20px;
  border-top: 1px solid #fff;
}

.news-wrap {
  display: flex;
  justify-content: space-between;
}

.news-item {
  width: 336px;
  margin-top: 60px;
}

.news-img {
  width: 100%;
  height: 100%;
}

.news-content {
  padding: 20px;
  background-color: #fff;
}

.news-date {
  font-size: 10px;
  font-weight: bold;
}

.news-title {
  padding: 8px 0 20px;
  font-weight: bold;
  font-size: 14px;
}

.news-txt {
  font-size: 12px;
}
